@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #0bff2b9a, #3882e2);
}

.navbar {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

#viewScore:hover {
    cursor: pointer;
    text-decoration: underline;
}

.container {
    background-color: white;
    padding: 2rem;
    max-width: 80%;
    width: 800px;
    box-shadow: 0 0 10px 2px;
    border-radius: 5px;
}

#answer-btn {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
    margin: 1rem;
}

.btn {
    padding: 5px 10px;
    background-color: rgb(48, 226, 226);
    text-align: center;
    color: white;
    border: 2px solid lightgray;
    border-radius: 1rem;
}

.btn:hover {
    cursor: pointer;
    border-color: black;
    opacity: 0.75;
}

*:focus {
    outline: 0;
}

#userName {
    border: 2px solid lightgray;

}

#question {
    text-align: center;
}

.options {
    display: flex;
    justify-content: center;

}

.options>* {
    margin: 0 1rem;
}

#start-btn {
    font-size: larger;
}

#next-btn {
    font-size: larger;
}

.hide {
    display: none;
}

.correct {
    background-color: green;
}

.wrong {
    background-color: red;
}

#submit-btn {
    font-size: larger;
}

/* Modal styling*/
/* The Modal (background) */
.modal {
    /* Hidden by default */
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
    position: relative;
    animation: modalopen 0.5s ease-in;
}

@keyframes modalopen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1rem;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}